* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 100%;
  color: #fff;
}
html {
  background-color: #222;
}
body {
  background-color: #222;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: rgb(209, 153, 209);
}
h2 {
  font-size: 7rem;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0 5vh 0;
}
.queer-img {
  max-width: 800px;
  max-height: 80vh;
  user-select: none;
}
.anchor--hero {
  font-weight: bold;
  font-size: 4rem;
  transform: rotate(90deg);
}
.about {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 10vh 20vw;
}

.about p {
  font-family: "IBM plex mono";
  line-height: 1.6;
}

.links {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 500px;
  margin: 0 20vw;
  align-self: normal;
}
.home-link {
  grid-column-start: 1;
  font-weight: bold;
  font-size: 7rem;
}
.home-docs,
.home-meet,
.home-whats {
  grid-column-start: 2;
  font-family: "IBM plex mono";
  color: white;
  line-height: 1.5;
  white-space: nowrap;
}

.home-whats {
  grid-row-start: 4;
}
.home-docs {
  grid-row-start: 3;
}
.home-meet {
  grid-row-start: 2;
}

.instagram {
  display: flex;
  flex-direction: column;
  padding: 10vh 20vw;
  gap: 1rem;
}
.footer {
  background-color: #fff;
  padding: 3rem;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer a,
.footer h2,
.footer p {
  color: #222;
}
.footer div a {
  font-family: "IBM plex mono";
  font-weight: 500;
  grid-row-start: 2;
  grid-column-start: 2;
}
.footer-design {
  font-family: "IBM plex mono";
  font-weight: 500;
}
@media only screen and (max-device-width: 600px) {
  .queer-img {
    max-width: 400px;
    max-height: 60vh;
    user-select: none;
  }
}
