:root {
  --fs-1: 1.125rem;
  --fs-2: 2.25rem;
  --fs-3: 4.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex mono", Helvetica, sans-serif;
}
body {
  background-color: #222;
  overflow-x: hidden;
  font-size: var(--fs-1);
  font-weight: 400;
  color: #fff;
  user-select: none;
}
a {
  font-family: "IBM Plex mono", Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
}
a:hover,
a:active {
  color: #3f92fb;
}
h1,
h2,
h3 {
  font-family: "IBM plex sans", Helvetica, sans-serif;
}
h2 {
  font-size: var(--fs-3);
  padding-bottom: 1rem;
  line-height: 1.2;
}
h3 {
  font-size: var(--fs-2);
  padding-top: 1rem;
}
p {
  line-height: 1.6;
}
section {
  max-width: 60vw;
  margin: 0 auto;
  padding: 1rem 0;
}
section:last-of-type {
  padding: 1rem 0 10vh 0;
}
.flex--column {
  display: flex;
  flex-direction: column;
}
.small-caps {
  font-variant: all-small-caps;
  letter-spacing: 1px;
}
.anchor {
  position: absolute;
  transform: translateY(-1rem);
}
.heart-cursor {
  cursor: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools --%3E%3Csvg fill='%23ff0000' width='22px' height='22px' viewBox='0 0 1920 1920' xmlns='http://www.w3.org/2000/svg' stroke='%23ff0000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M1771.731 291.037C1675.709 193.659 1547.944 140 1411.818 140h-.113c-136.125 0-263.777 53.66-359.573 150.924-37.618 38.07-68.571 80.997-92.294 127.426-23.61-46.429-54.563-89.356-92.068-127.313C771.86 193.659 644.208 140 507.97 140h-.113c-136.012 0-263.777 53.66-359.8 151.037-197.691 200.629-197.691 527.103 1.695 729.088l810.086 760.154 811.893-761.736c197.692-200.403 197.692-526.877 0-727.506' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E"),
    pointer;
}

/* ------------ NAV -------------------- */
.nav {
  display: none;
  position: fixed;
  top: 0;
}
.nav-home img {
  height: var(--fs-3);
}

/* ------------ MAIN PAGE -------------- */

/* HERO */

.hero {
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}
.queer-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.queer-img {
  max-width: 800px;
  max-height: 80vh;
  user-select: none;
  align-self: center;
  justify-self: center;
}
.anchor--hero {
  font-weight: bold;
  font-size: 3rem;
  transform: rotate(90deg);
}

/* LINKS */

.links {
  display: grid;
  grid-template-columns: auto 1fr;
  align-self: normal;
}
.links h2 {
  grid-column-start: 1;
  padding-bottom: 0;
}
.links div {
  grid-row-start: 2;
  grid-column-start: 2;
  gap: 0.8rem;
}
.links div a {
  /* white-space: nowrap; */
  gap: 1rem;
  color: #222;
  background-color: #fff;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.links div a img {
  max-height: var(--fs-2);
}

/* ------------ ABOUT PAGE -------------- */

/* ABOUT */
.about-mail {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.about-mail img {
  height: 2rem;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 5%;
  margin-top: 0.3rem;
}
.objectives ul {
  gap: 0.8rem;
}
.objectives ul li {
  list-style-type: square;
  list-style-position: inside;
  margin-left: 5px;
}

/* ORG */

.org-card {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
}
.org-card div {
  justify-content: center;
  margin-top: -0.5rem;
}
.org-card h3 {
  padding-top: 0;
}
.pronomes {
  font-family: "IBM Plex mono";
  font-weight: 300;
  font-size: 1rem;
}
.org-card img {
  max-height: 180px;
  max-width: 20vw;
  border-radius: 2.5%;
}
.org-card div a img {
  margin-top: 0.8rem;
  height: 2rem;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 5%;
}
.org-card div p {
  margin-bottom: -0.3rem;
}

/* ------------ TEXTS PAGE -------------- */

/* TEXT */
.texts {
  gap: 1rem;
  padding-top: 5vh !important;
  min-height: 101vh;
}
.texts h2 {
  padding-bottom: 0;
}

.texts ul {
  gap: 0.8rem;
}
.texts ul li {
  list-style-type: square;
  list-style-position: inside;
  margin-left: 5px;
}

/* --------------- ROADMAP PAGE ----------- */

.roadmap {
  min-height: 101vh;
}

.roadmap img {
  min-width: 600px;
  max-width: 30vw;
  margin: 0 auto;
  margin-top: 3rem;
}

/* -------------- Eco Bags --------------- */
.bags {
  gap: 1rem;
  min-height: 101vh;
}
.bags-imgs {
  display: flex;
  flex-direction: row;
  min-width: 60vw;
  justify-content: space-between;
}

.bags-imgs img {
  max-width: 19vw;
}
.bags-description ul {
  gap: 0.8rem;
}
.bags-description ul li {
  list-style-type: square;
  list-style-position: inside;
  margin-left: 5px;
}
.bags-btn {
  gap: 1rem;
  color: #222;
  background-color: #fff;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.bags-btn img {
  max-height: var(--fs-2);
}

/* FOOTER */

footer {
  padding: 2rem 20vw;
  margin-top: auto;
  gap: 2rem;
  background-color: #fff;
}
footer a {
  color: #222;
}
.made-with-love:hover {
  color: rgb(243, 0, 0);
}
.footer-license {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.license-icons {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
}

.license-icons img {
  opacity: 95%;
  width: 1rem;
}
.footer-logos {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer-logos img {
  opacity: 95%;
  height: 3rem;
  margin: 0rem 0.5rem;
}
@media only screen and (max-device-width: 700px) {
  :root {
    --fs-0: 0.8rem;
    --fs-1: 1rem;
    --fs-2: 2rem;
    --fs-3: 3rem;
  }
  section {
    max-width: 80vw;
  }
  section:last-of-type {
    padding: 1rem 0 5vh 0;
  }

  /* ------------ MAIN PAGE -------------- */

  /* HERO */

  .hero {
    justify-content: space-evenly;
    background-image: none;
    min-height: 101vh;
  }
  .queer-img-container {
    height: auto;
  }
  .queer-img {
    max-width: 60vw;
    max-height: 80vh;
  }
  .anchor--hero {
    font-size: var(--fs-2);
  }

  /* HOW-TO */

  .anchor {
    transform: translateY(-1rem);
  }

  /* LINKS */

  .links div {
    gap: 0.5rem;
  }
  .links div a {
    gap: 0.5rem;
  }
  .links div a img {
    max-height: 1.2rem;
  }

  /* ------------ ABOUT PAGE -------------- */

  /* ORG */
  .org-card {
    white-space: nowrap;
    gap: 0.5rem;
  }
  .pronomes,
  .org-card div p {
    font-size: var(--fs-0);
  }

  .org-card img {
    max-height: 200px;
    max-width: 22vw;
  }
  .org-card div a img {
    height: 1.2rem;
    padding: 0.2rem;
    margin-top: 0.5rem;
  }

  .about-mail img {
    height: 1.2rem;
    padding: 0.2rem;
  }

  /* --------------- ROADMAP PAGE ----------- */

  .roadmap img {
    min-width: auto;
    max-width: 80vw;
  }

  /* -------------- Eco Bags --------------- */

  .bags-imgs {
    min-width: 80vw;
    max-width: 80vw;
    overflow: scroll;
    gap: 0.8rem;
    scrollbar-width: 0;
  }

  .bags-imgs img {
    max-width: 60vw;
  }
  .bags-description ul {
    gap: 0.8rem;
  }
  .bags-description ul li {
    list-style-type: square;
    list-style-position: inside;
    margin-left: 5px;
  }
  .bags-btn {
    gap: 0.5rem;
  }
  .bags-btn a {
    gap: 0.5rem;
  }
  .bags-btn img {
    max-height: 1.2rem;
  }

  /* FOOTER */

  footer {
    padding: 2rem 10vw;
  }
  footer a {
    font-size: var(--fs-0);
  }
  .license-icons img {
    width: var(--fs-0);
  }
  .footer-logos {
    gap: 0.5rem;
  }
  .footer-logos img {
    height: var(--fs-2);
  }
}

@media (min-width: 1100px) and (max-width: 1921px) and (min-height: 600px) and (max-height: 1080px) {
  .hero {
    background-image: linear-gradient(rgba(255, 0, 0, 0) 60%, rgb(34, 34, 34) 90%),
      url(../imgs/desktop-hero.svg);
    background-position: 20% 50%;
  }
  .queer-img {
    display: none;
  }
}
