* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
}
html {
  background-color: #222;
}
body {
  background-color: #222;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a:active {
  color: #3f92fb;
}
h2 {
  font-size: 5.4rem;
  user-select: none;
}
p {
  user-select: none;
}

.anchor {
  position: absolute;
  transform: translateY(-20vh);
}

.heart-cursor {
  cursor: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools --%3E%3Csvg fill='%23ff0000' width='22px' height='22px' viewBox='0 0 1920 1920' xmlns='http://www.w3.org/2000/svg' stroke='%23ff0000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M1771.731 291.037C1675.709 193.659 1547.944 140 1411.818 140h-.113c-136.125 0-263.777 53.66-359.573 150.924-37.618 38.07-68.571 80.997-92.294 127.426-23.61-46.429-54.563-89.356-92.068-127.313C771.86 193.659 644.208 140 507.97 140h-.113c-136.012 0-263.777 53.66-359.8 151.037-197.691 200.629-197.691 527.103 1.695 729.088l810.086 760.154 811.893-761.736c197.692-200.403 197.692-526.877 0-727.506' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E"),
    pointer;
}

/* HERO */

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0;
}
.queer-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.queer-img {
  max-width: 800px;
  max-height: 80vh;
  user-select: none;
}
.anchor--hero {
  font-weight: bold;
  font-size: 3rem;
  transform: rotate(90deg);
}

/* ABOUT */

.about {
  display: flex;
  max-width: 60vw;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 10vh auto;
}

.about p {
  font-family: "IBM plex mono";
  line-height: 1.6;
}

/* LINKS */

.links {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 60vw;
  margin: 0 auto;
  align-self: normal;
}
.links h2 {
  grid-column-start: 1;
}
.link-docs,
.link-meet,
.link-whats {
  grid-column-start: 2;
  font-family: "IBM plex mono";
  line-height: 2;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.link-whats {
  grid-row-start: 4;
}
.links a img {
  height: 2rem;
}

.link-docs {
  grid-row-start: 3;
}
.link-meet {
  grid-row-start: 2;
}

/* INSTAGRAM */

.instagram {
  padding: 10vh 0;
}
.instagram-media {
  margin: 0 auto !important;
  max-width: 60vw;
}

/* FOOTER */

footer {
  padding: 2rem 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: auto;
  background-color: #fff;
}

footer a {
  font-size: 1rem;
  font-family: "IBM plex mono";
  color: #222;
}
footer a:hover {
  color: rgb(243, 0, 0);
}

.license-icons {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

.license-icons img {
  width: 1rem;
}
@media only screen and (max-device-width: 600px) {
  body {
    font-size: 2.4rem;
  }
  .hero {
    padding-bottom: 12vh;
  }
  .queer-img {
    max-width: 60vw;
    max-height: 80vh;
  }
  .anchor--hero {
    font-size: 6rem;
  }
  .link-docs,
  .link-meet,
  .link-whats {
    gap: 1.6rem;
  }
  .links a img {
    height: 3.4rem;
  }

  /* SOBRE */
  .achor {
    transform: translateY(-35vh);
  }
  .about {
    max-width: 80vw;
  }

  /* LINKS */

  .links {
    max-width: 80vw;
  }
  .instagram-media {
    max-width: 80vw;
  }
  footer {
    padding: 2rem 10vw;
  }

  footer a {
    font-size: 1.4rem;
  }
  .license-icons img {
    width: 1.6rem;
  }
}
